* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin-top: -8px;
}

.top {
  height: 270px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("back.png");
  background-position: bottom;
  color: white;
  text-align: center;
  opacity: 1.9;
  padding-top: 18px;
}
h5 {
  padding-top: 22px;
}

.income-div {
  display: inline;
}
.income {
  width: 380px;
  height: 50px;
  margin-left: 40%;
  background-color: #28b9b5;
  color: black;
  text-align: left;
  font-size: 18px;
  border: none;
}
.income-2 {
  float: right;
  margin-top: -34px;
  margin-right: 50px;
  color: white;
  font-size: 16px;
}
.expense {
  width: 380px;
  height: 50px;
  margin-top: 20px;
  background-color: #ff5049;
  color: black;
  text-align: left;
  margin-left: 40%;
  font-size: 18px;
  border: none;
}
.expense-2 {
  float: right;
  margin-top: -34px;
  margin-right: 50px;
  color: white;
  font-size: 16px;
}
.percentage {
  position: fixed;
  margin-left: 10px;
}
.middle {
  background-color: rgb(247, 250, 253);
  height: 80px;
}
.increase {
  height: 45px;
  width: 50px;
  margin-left: 31%;
  margin-top: 12px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  transition: border 0.3s;
}
.discription {
  width: 380px;
  height: 45px;
  margin-left: 4%;
  border-radius: 4px;
  font-size: 18px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  transition: border 0.3s;
}
.number {
  height: 45px;
  width: 80px;
  border-radius: 4px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  margin-left: 20px;
  padding-left: 5px;
  font-size: 18px;
  transition: border 0.3s;
}
.increase:focus,
.number:focus,
.discription:focus {
  outline: none;
  border: solid 1px #28b9b5;
}
.add_btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  display: inline-block;
  vertical-align: middle;
  line-break: 1.1;
  cursor: pointer;
}
.add_btn:active {
  transform: translateY(2px);
}
.add_btn:focus {
  outline: none;

  border: none;
}
.container_income {
  width: 40%;
  float: left;
  font-size: 20px;
  margin-left: 9%;
}
.container_expense {
  width: 50%;
  float: left;
  font-size: 20px;
}
.income_text {
  color: #28b9b5;
  padding: 50px;
}

.expense_text {
  color: #ff5049;
  padding: 50px;
}
